@font-face {
  font-family: "Lumanosimo-Regular";
  src: url("./font/Lumanosimo-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}

:root {
  --bgColor: black;
  --color: white
}

html {
  font-family: "Lumanosimo-Regular", sans-serif;
  /* for making 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: var(--bgColor);
  color: var(--color);
  font-size: 1.6rem;
}